.author-name {
  color: #f50;
  padding-left: 5px;
}


.comment-form-container {
  width: 100%;
  height: 20px;
  padding: 5px;
  margin: 1px;
  float: left;
  position: relative;
  margin-top:25px;
}

.comment-index-item {
  width:10px;
  height:10px;
  position: absolute;
  background-color: red;
}

.comment-image-list {
  position:relative;
  margin-top: 45px;
}

.comment-image-list {
  height: 10px;
  position: absolute;
  width: 100%;
  background-color: blue;
  float: left;
  bottom: 5px;
}

.comment-content {
  padding-left: 12px;
  white-space: nowrap;
}

.comment-info {
  position: absolute;
  height: 22px;
  top: 10px;
  width: 300px;
  max-width:700px;
  padding-top: 9px;
  font-size: 12px;
  border-left: 1px solid black;
  line-height: 16.8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

<<<<<<< HEAD

=======
>>>>>>> 54b341296df34fbf4b4b418c243c3bafc14988d5
.comment-input {
  margin-left: 10px;
  font-size: 12px;
  height: 15px;
  border-radius: 5px;
  border: 6px solid rgb(151, 151, 151);
  height: 20px;
  width: 370px;
}
.comment-pic{
  width:20px;
  height:20px;
  display: inline;
}
.top-to-bottom {
    border-width: 1px;
    border-style: solid;
    -webkit-border-image:
      -webkit-gradient(linear, 0 0, 0 100%, from(#f50), to(#fff)) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(#f50, #fff) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#f50, #fff) 1 100%;
    -o-border-image:
      -o-linear-gradient(#f50, #fff) 1 100%;
    border-image:
      linear-gradient(to bottom, #f50, #fff) 1 100%;
    border-right: 0;
}
