.footer {
  margin-bottom: 0px;
  margin-top: 50px;
  height: 46px;
  width: 100%;
  background-color:#f2f2f2;
  border: 1px solid #999;
}

.playback-control-buttons {
  height: 100%;
  width: 80%;
  float: left;
  margin-left: 10%;
}

.playback-button {
  width: 46px;
  height: 46px;
}

.footer-playback-control-button {
  background-color: transparent;
  width: 46px;
  height: 46px;
  float: left;
  margin-left: 10px;
}

.footer-track-info {
  float: right;
  margin-right: 10px;
  width: 46px;
  height: 46px;
}

.footer-play-button-image {
  background-color: #333;
  width:50%;
  height:50%;

  /*crop to correct shape*/
  -webkit-clip-path: polygon(0px 0px, 18px 9px, 0px 18px);
  clip-path: polygon(0px 0px, 18px 9px, 0px 18px);
}
.footer-pause-button-image {
  background-color: #333;
  width:50%;
  height:50%;
  /*crop shape to cut out inner rect, making a pause sign*/
  -webkit-clip-path: polygon(3px 0px, 3px 18px, 7px 18px, 7px 0px, 11px 0px, 11px 18px, 15px 18px, 15px 0px, 4px 0px);
}

.rewind {
  background-color: #333;
  width:50%;
  height:50%;

  /*crop to correct shape*/
  -webkit-clip-path: polygon(2px 2px, 2px 16px, 3px 16px, 3px 9px, 16px 16px, 16px 2px, 3px 9px, 3px 2px, 2px 2px);
  clip-path: polygon(2px 2px, 2px 16px, 3px 16px, 3px 9px, 16px 16px, 16px 2px, 3px 9px, 3px 2px, 2px 2px);
}

.fastforward {
  background-color: #333;
  width:50%;
  height:50%;

  /*crop to correct shape*/
  -webkit-clip-path: polygon(2px 2px, 15px 9px, 15px 2px, 16px 2px, 16px 16px, 15px 16px, 15px 9px, 2px 16px, 2px 2px);
  clip-path: polygon(2px 2px, 15px 9px, 15px 2px, 16px 2px, 16px 16px, 15px 16px, 15px 9px, 2px 16px, 2px 2px);
}

.footer-track-image {
  height: 80%;
  width: 80%;
  margin-top: 10%;
  outline: none;
}

.footer-track-text-container {
  margin-top: 5px;
  width:200px;
  height: 100%;
  float: right;
}

.footer-track-text {
  display: block;
}
