/**widths of various modal forms**/

.profile-form {
  width:850px;
}

.login-form {
  width:400px;
}

.signup-form {
  width:400px;
}

.form-container {
  min-width:500px;
}

.modal-form-input {
  border:1px #999 solid;
  color: black;
}

.modal-form-submit {
  background-color: #f50;
  border:none;
  color:#fff;
}

.modal-form {
  height:200px;
  text-align:center;
  margin:0 auto;
  margin-top:25%;
}

.modal-form-text-spacer {
  height:15px;
  line-height:15px;
  width:400px;
  color:#fff;
  margin-bottom:10px;
  font-size:20px;
}

.modal-form-element {
  height:50px;
  width:400px;
  font-size:20px;
  margin-bottom:7px;
  border-radius:5px;
}
