/**helps to keep forms and text centered in modal**/

.form-container {
  min-width:500px;
}

/**does anyone ever want textareas to resize?**/

form textarea {
  resize:none;
}


/**widths of various modal forms**/

.login-form {
  width:400px;
}

.signup-form {
  width:400px;
}
.profile-form {
  width:850px;
}

/**general styling and positioning of form in relation to modal**/

.modal-form {
  height:200px;
  text-align:center;
  margin:0 auto;
  margin-top:3%;
  margin-bottom:5%;
}

/**styling for the elements in the form**/

.modal-form-element {
  height:50px;
  width:400px;
  font-size:20px;
  border-radius:5px;
  display:block;
  padding:0px 3px;
}
.modal-form-input {
  border:1px #999 solid;
  color: black;
}

.modal-form-submit {
  background-color: #f50;
  color:#fff;
}

.modal-form-title {
  width: 300px;
  float: left;
}

.modal-form-label {
  font-size: 15px;
  display:block;
  float:left;
  width: 263px;
}

.modal-input-long {
  width:520px;
  height:40px
}

.modal-input-short {
  width:255px;
  height:25px;
  margin-right:5px;
}

.multi-input-section {
  width: 550px;
}

.modal-form-text-info {
  margin-top:20px;
  float: right;
  width:525px;
}

.modal-form-section {
  display:block;
  float:left;
  margin-bottom:5px;
  width:100%;
}

.modal-form-textarea {
  width:515px;
  height:130px;
  margin-bottom:5px;
}

form h1 {
  font-size: 24px;
  font-weight:400;
}

.submit-container {
  width:500px;
}
/**for small words**/

.modal-form-text-spacer {
  height:15px;
  line-height:15px;
  width:400px;
  color:black;
  margin-bottom:10px;
  margin-top: 3px;
  font-size:20px;
}

.required {
  color: #f50;
  font-size: 15px;
  margin-left:2px;
}

.image-button {
  position: absolute;
  height: 20%;
  bottom:0;
  left:0;
  right:0;
}

.image-chooser {
  height: 100%;
}

.success {
  display:block;

}
