.modal-form-input {
  border:1px #999 solid;

}

.modal-form-submit {
  background-color: #f50;
  border:none;
  color:#fff;
}

.modal-form {
  height:200px;
  width:275px;
  text-align:center;
  margin:0 auto;
  margin-top:200px;
}

.modal-form-text-spacer {
  height:15px;
  line-height:15px;
  width:400px;
  color:#333;
  margin-bottom:5px;
}

.modal-form-element {
  height:30px;
  width:400px;
  margin-bottom:5px;
  border-radius:5px;
}
