 .navbar{
  color:#fff;
  background-color:#333;
  font-weight:200;
  font-size:15px;
}

.navbar-minor{
  color:#999;
}

.underline{
  text-decoration: underline;
}

.navbar-element{
  text-align:center;
  float:left;
  margin:5px;
  height:25px;
  line-height: 25px;
  margin-top:12.5px;
  margin-bottom:12.5px;
}

.navbar-button{
  border-radius: 3px;
  border:1px #757575 solid;
  cursor: pointer;
}

.reactive-navbar-button:hover{
  border:1px #e5e5e5 solid;
}

.reactive-navbar-text:hover{
  color:green;
}

.logout{
  width:75px;
}

.login{
  width:75px;
}

.signup{
  width:125px;
  background-color:#f50;
  border:none;
}
