/**profile header classes **/

.profile-picture {
  width:200px;
  height:200px;
  border-radius:50%;
  float:left;
  position:absolute;
  margin-left:35px;
  margin-top:20px;
}

.profile-element {
  background-color: #333;
  color: #fff;
  display: block;
  width: auto;
  margin-bottom: 3px;
  float: left;
  padding:3px;
}

.edit-button {
  float: right;
}


.profile-large {
  font-size:35px;
}

.profile-small {
  font-size:25px;
}

.profile-user-info {
  padding-left: 250px;
  padding-top:30px;
  font-size: 25px;
  width:300px;
}

.profile-header-image {
  background:linear-gradient( to bottom right, #f50, #fff);
  margin-left:100px;
  margin-right:100px;
  height:260px;
}

/**profile form classes**/

.profile-long {
  width:520px;
  height:40px
}

.profile-short {
  width:255px;
  height:25px;
  margin-right:5px;
}

.profile-form-section {
  display:block;
  float:left;
  margin-bottom:5px;
}

.multi-input-section {
  width: 550px;
}

.profile-form-text-info {
  margin-top:20px;
  float: right;
  width:525px;
}

.profile-textarea {
  width:515px;
  height:100px;
  margin-bottom:5px;
}

.submit-container {
  width:500px;
}

.profile-submit {
  margin: 0 auto;
  margin-top:5px;
  text-align: center;
}
