.track-image {
  width:160px;
  height: 160px;
}

.upload-form-image {
  width: 260px;
  height: 260px;
  float:left;
}

.upload-form-input {
  border-radius: 3px;
  font-size: 14px;
  font-weight: 100;
}

.upload-form-input-long {
  height: 25px;
  width: 470px;
}

.upload-form-input-short {
  height: 25px;
  width:230px;
}

.image-placeholder {
  background-image: linear-gradient(135deg,#846170,#70929c)
}

.upload-image-container {
  position:relative;
  width:100%;
  height:100%;
}

.upload-form-header-container {
  height:25px;
}

.image-overlay {
  position:relative;
  height:100%;
}

.image-button-positioner {
  height:20%;
  width:100%;
  bottom: 0;
  position:absolute;
}

.image-button-container {
  height:100%;
  width:100%;
  position:relative;
}

.image-button {
  text-align:center;
  height:26px;
  top:0;
  margin-left:25%;
  position:absolute;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 3px;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  width:50%;
}

.track-button {
  text-align: center;
  height: 25px;
  border-radius: 3px;
  background-color: #f50;
  color: #fff;
  padding: 0px 3px;
  float: right;
}

.hidden-file-input {
  height:0px;
  width: 0px;
  background-color:transparent;
}

.upload-modal-form-text-info {
  width: 475px;
  margin-left: 25px;
  float: left;
}

.upload-form-content-container {
  margin-top: 5px;
}

.message-container {
  min-height:20px;
}

.upload-modal-form-label {
  font-size: 12px;
  display:block;
  float:left;
  width: 263px;
}

.upload-form-textarea {
  width: 470px;
  height: 130px;
  line-height: 20px
}

.upload-submit {
  color:#fff;
  background-color:#f50;
  border-radius: 3px;
  float:right;
  height:25px;
  padding:2px 11px 2px 10px;
}

.horizontal-radio-button-container {
  width:100%;
  position:relative;
}

.radio-buttons {
  position:absolute;
  left:0;
}
