.track-image {
  width:160px;
  height: 160px;
}

.upload-form-image {
  width: 260px;
  height: 260px;
  background-image:linear-gradient(to bottom right, red, blue));
}

.upload-form-input-long {
  width:470px;
  height: 25px;
}
