.track-image {
  width:160px;
  height: 160px;
}

.upload-form-image {
  width: 260px;
  height: 260px;
  float:left;
  position:absolute;
}

.upload-form-input-long {
  width:470px;
  height: 25px;
}

.image-placeholder {

  background-image: linear-gradient(135deg,#846170,#70929c)
}
